.menu {
    position: fixed; /* reste en place lors du defilement */
          top: 0; /* fixe le menu en haut de page */
          left: 0;
          width: 100vw; /* largeur de la fenêtre */
          height: 100vh; /* hauteur de la fenêtre */
          background: #1a1a1a; /* couleur de fond */
          display: grid; /* alignement au centre (V et H) */
          align-items: center;
           
 
}
.menu__list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}
.menu__item--lien{
    text-decoration: none;
    color: white;
    border: #ffffff solid 1px;
}